.order-moover {
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: space-around;
}

/********* BOX LEFT  *********/
.box-left {
    background-color: var(--color-orange);
    display         : flex;
    align-items     : center;
    justify-content : center;
    flex-basis      : 40%;
}

.box-left h2 {
    max-width: 600px;
    font-size: 60px;
    margin-bottom: 125px;
}




