* {
    margin         : 0px;
    padding        : 0px;
    box-sizing     : border-box;
    font-family    : 'Poppins', sans-serif;
    text-decoration: none;
    list-style     : none;
}

body {
    position: relative;
    height  : 100vh;
}

#root,
.app {
    position: absolute;
    top     : 0;
    right   : 0;
    left    : 0;
    bottom  : 0;
}
.hiddenActive {
    overflow: hidden;
}

.hiddenDisable {
    position: absolute;
    top     : 0;
    right   : 0;
    left    : 0;
    bottom  : 0;
    overflow: initial;
}

:root {
    --color-text-white: #fff;
    --color-text-black: #000000;
    --color-orange    : #fe5a0e;
    --color-red-dark    : #cf0303;
    --pane-padding    : 5px 42px;
}

.orange {
    color: var(--color-orange);
}


button {
    border    : none;
    background: none;
    cursor    : pointer;
}

input[type='text'],
input[type='password'],
input[type='type'], 
textarea {
    width        : 100%;
    margin-bottom: 0px;
    background   : none;
    color        : #033663;
    font-size    : 15px;
    font-family  : sans-serif;
    outline      : 0 !important;
    border       : 0 !important;
}

.d-block {
    display: block;
}
